/*common*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    padding: 1rem;
    justify-content:center ;
}

.flex-container-h {
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

.d-flex{
    display: flex;
}

button{
    border: none;
}

.p-1{
    padding: 1rem;
}

h3{
    margin-bottom: 2rem;
    font-size: 32px;
}




/*utilities*/

:root{
    --primary-blue:var(#255EE9);
    --secondary-blue:var(#8EA1E1);
    --primary-white:var(#FFFFFF);
    --primary-grey:var(#F6F6F6);
    --primary-black:var(#23272A);

}

body{
    font-family:'Roboto', sans-serif;
}

.w-900{
font-weight: 900;
}
.w-500{
    font-weight: 500;
    }
/*HEADER*/

.logo {
    size: 50px;
    padding-right: 0.75rem;
}
header{
    background-color: #255EE9;
}


li{
    text-decoration: none;
    list-style: none;
    color:#FFFFFF;
    flex-direction: column;
    text-wrap: wrap;
    padding: 1rem;

}

.btn-login{
    padding: 7px;
    margin-top: 10px;
    color:#23272A;
    background-color:#FFFFFF;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
}


.align-items-center{
    align-items: center;
}
/*JUMBOTRON*/

.jumbotron{
    height: 422px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.jumbotron .flex-container {
    padding: 2.75rem 12rem;
    margin: 0 14.75rem;
    color: #FFFFFF;
}

.jumbotron h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.jumbotron p{
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.jumbotron button{
    padding: 16px;
    margin-top: 10px;
    color:#23272A;
    background-color:#FFFFFF;
    border-radius: 40px;
    font-size: 17px;
    color: #23272A;
}

.flex-container button:last-child{
    background-color: #23272A;
    color:#FFFFFF;
}
/* FIRST CONTAINER*/

.row1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

div.row1{
    width: 80%;
}

/*SECOND CONTAINER*/

.row2{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.flex-container .row2{
    background-color: #F6F6F6;
}



div.row2{
    width: 100%;
    padding: 4rem 17rem;
}

/*THIRD CONTAINER*/

.last{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 13rem;
}

.flex-container .last{
    background-color: #F6F6F6;
}


h4{
    font-weight: 900;
    font-size: 18px;
}


#l-button{
    background-color: #8EA1E1;
    border-radius: 40px;
    padding: 1rem;
    margin-top: 1.75rem
}

.column{
    flex-direction: column;
    }


/*FOOTER*/

.top-footer{
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
}

.colonna-g{
    width: 100% ;

}
.colonna-p{
    width:  calc((100% / 12) * 4 );
}



/*BOTTOM FOOTER*/


.bottom-footer:first-child{
    justify-content: space-between;
    width: 80%;
}

div.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    



/*debug*/


.debug .jumbotron{
    background-color: rgb(246, 60, 91);
    height: 15rem;
    border: dotted;
}
.debug .row1{
    background-color: violet;
    height: 15rem;
    border: dotted;
}
.debug .row2{
    background-color:#ededed;
    height: 15rem;
    border: dotted;
}
.debug .col-4 {
    border: dotted;
    background-color: blue;
}
.debug .col-12 {
    border: dotted;
    background-color: brown;
}
.debug .flex-container:nth-child(2){
    background-color: orange;
}
.debug .flex-container:nth-child(4){
    background-color: orange;
}
.debug .last{
    
    background-color: rgb(68, 128, 48);
    height: 20rem;
    border: dotted;
}
.debug .top-footer{
    height: 15rem;
    border: dotted;
    flex-direction: row;
}
.debug .colonna-g{
    border: dotted;
    background-color: blue;
}
.debug .colonna-p {
    border: dotted;
    background-color: brown;
}
.debug .site_footer{
    background-color: #ededed;
}
.debug .logo-f {
    border: 5px dotted rgb(50, 73, 205);
    width: 10%;
    background-color: rgb(247, 172, 34);
}
.debug .bottone {
    border: 5px dotted rgb(50, 73, 205);
    width: 10%;
    background-color: rgb(247, 172, 34);
}
.debug .bottom-footer{
    background-color: black;

}